main{
    height: 10em;
    width: 70%;
    position: relative;
    border: 2px solid black;
    top: 3em;
    left: 15%;
    right: 15%;
}

form{
    display: inline;
}

.menu{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

[class^="item"]{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1{
    grid-column: 1/4;
    grid-row: 3/5;
}

.item-2{
    grid-column: 4/6;
    grid-row: 3/5;
}

.item-3{
    grid-column: 7/9;
    grid-row: 3/5;
}

.item-4{
    grid-column: 1/4;
    grid-row: 6/8;
}

.item-5{
    grid-column: 4/6;
    grid-row: 6/8;
}

.autoev{
    position: relative;
    top: 15%;
    left: 40%;
    right: 40%;
    
}