.tabla_datos{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table_div{
    text-align: center;
    position: relative;
    top: 0em
}

#piechart{
    position: relative;
    left: 25%;
    top: 100%;
}